<!-- Solo accesible para los administradores -->

<div class="container">
    <h1 class="well">Nuevo Personal</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form ngNativeValidate [formGroup]="form" (ngSubmit)="registrarPersonal()">
                <div class="col-sm-12">

                    <div class="alert alert-primary" role="alert">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <!-- Inputs with labels -->
                                <ion-item>
                                    <ion-label>Apellidos</ion-label>
                                    <ion-input tabindex="1" formControlName="Apellidos" name="Apellidos" required type="text" placeholder="Apellidos..." class="form-control"></ion-input>
                                </ion-item>
                                <!-- Inputs with labels -->
                                <ion-item>
                                    <ion-label>Nombres</ion-label>
                                    <ion-input tabindex="2" formControlName="Nombres" name="Apellidos" required type="text" placeholder="Nombres..." class="form-control"></ion-input>
                                </ion-item>
                                <!-- Inputs with labels -->
                                <ion-item>
                                    <ion-label>DNI</ion-label>
                                    <ion-input tabindex="3" formControlName="DNI" name="Apellidos" required type="number" placeholder="DNI..." class="form-control"></ion-input>
                                </ion-item>

                            </div>
                        </div>
                    </div>
                    <br>
                    <ion-button type="submit" color="primary" expand="block">
                        Cargar
                    </ion-button>
                    <br>
                </div>
            </form>
        </div>
    </div>
</div>
