<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Personal</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-searchbar placeholder="DNI..." id="pBusqueda">
    </ion-searchbar>

    <ion-button type="submit" type="tel" color="primary" expand="block" (click)="buscar()">
        Buscar...
    </ion-button>

    <ion-grid *ngFor="let persona of personal">
        <ion-row>
            <ion-col size="8">
                {{persona.DNI}}
            </ion-col>
            <ion-col size="2">
                <ion-button color="success" (click)="marcarAsistencia(persona.DNI)">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-button (click)="cambiarDesde(-10) ">Anteriores</ion-button>
    <ion-button (click)="cambiarDesde(10) ">Siguientes</ion-button>

    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="center" horizontal="end" slot="fixed" (click)="enrutar()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>