<ion-header>
    <ion-toolbar>
        <ion-title>settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form ngNativeValidate [formGroup]="form" (ngSubmit)="cargarSettings()">
        <div class="col-sm-12">

            <div class="alert alert-primary" role="alert">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <!-- Inputs with labels -->
                        <ion-item>
                            <ion-label *ngIf="this.settingsService.IP">IP cargada : {{this.settingsService.IP}}</ion-label><br>
                        </ion-item>
                        <ion-item>
                            <ion-label>Ingrese la nueva IP : </ion-label>
                            <ion-input tabindex="1" formControlName="IP" name="IP" required type="text" placeholder="IP..." class="form-control"></ion-input>
                        </ion-item>
                    </div>
                </div>
            </div>
            <br>
            <ion-button type="submit" color="primary" expand="block">
                Cargar
            </ion-button>
            <br>
        </div>
    </form>

</ion-content>